.landing-signIn {
   margin-top: 150px;
}

.card-header {
   background-color: lightsteelblue;
}
nav {
   background-color: white;
}

.backgroundImage {
   width: 650px;
   height: 475px;
}

.carousel-caption {
   color: black;
}
.recipeImage {
   width: 650px;
   height: 750px;
   margin-top: 25px;
}

.pantry-divider {
   border-right: 1px solid black;
}

.pantry-ingredient {
   margin-top: 25px;
}

.mealImage {
   width: 650px;
   height: 350px;
   margin-top: 25px;
}
// add coment
