body {
   line-height: 1;
}

.landing-signIn {
   margin-top: 150px;
}
.landing-text {
   background-color: white;
   padding: 0.5em;
   border-radius: 0.25rem;
}

.card-header {
   background-color: lightsteelblue;
}
nav {
   background-color: white;
}

.backgroundImage {
   width: 650px;
   height: 475px;
}

.carousel-caption {
   color: black;
}
.recipeImage {
   width: 650px;
   height: 800px;
   margin-top: 10px;
   border-radius: 0.5rem;
}
// added pntry divders
.pantry-divider {
   border-right: 1px solid black;
}

.pantry-ingredient {
   margin-top: 25px;
}

.card-body {
   border: 1px solid black;
   border-radius: 0.3rem;
   box-shadow: 3px 3px 1px 1px lightgrey;
}
.pantryImage {
   width: 575px;
   height: 900px;
   margin-top: 10px;
   border-radius: 0.5rem;
}

.home-cards {
   height: 225px;
   // width: 350px;
}
Navbar {
   height: 5px;
}
