.landing-signIn {
   margin-top: 150px;
}
.landing-text {
   background-color: white;
   padding: 0.5em;
   border-radius: 1rem;
}

.card-header {
   background-color: lightsteelblue;
}
nav {
   background-color: white;
}

.backgroundImage {
   width: 650px;
   height: 475px;
}

.carousel-caption {
   color: black;
}
.recipeImage {
   width: 650px;
   height: 750px;
   margin-top: 25px;
}

.pantry-divider {
   border-right: 1px solid black;
}

.pantry-ingredient {
   margin-top: 25px;
}

.card-body {
   border: 1px solid black;
   border-radius: 1rem;
   box-shadow: 3px 3px 3px 3px #777777;
}
